<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div>
            <!-- sisi Kanan -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="/media/base/logo.png" alt="" width="90" height="50">
              </a>
        </div>

            <!-- Sisi Tengah -->
        <div>
          <a href="" class="btn"> Booking Facility</a>
          <a href="{% url 'facility_list' %}" class="btn">Propose/Manage Facility</a>
          <a href="" class="btn">Public Infrastructure</a>
          <a href="" class="btn">About</a>

        </div>

            <!-- tengah -->
        <div>



        </div>

    </div>
  </nav>